--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.2.2+cu121
torchvision==0.17.2+cu121
omegaconf
torchmetrics==0.10.3
fvcore
iopath
xformers>=0.0.18
submitit
--extra-index-url https://pypi.nvidia.com
cuml-cu11
monai==1.3.0
nibabel==5.1.0
scikit-learn
torchio
